{% extends "layout.html" %}

{% block body_content %}
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a>
		<a href="{{ url_for('login') }}">Login</a>
		<a href="{{ url_for('register') }}">Register</a>
		<a href="{{ url_for('post') }}">Post</a>
		<a href="{{ url_for('logout') }}">Logout</a>

{% for post in posts %}
    <div>
        <h3>{{ post.title }}</h3>
        <span>by <i>{{ post.author.first_name }} {{ post.author.last_name }}</i></span>
        <span>on the <i>{{ post.date_posted }}</i></span>
        <p>{{ post.content }}</p>
    </div>
{% endfor %}
{% endblock %}
