{% extends "layout.html" %}
{% block body_content %}
		<a href="{{ url_for('home') }}">Home</a>
		<a href="{{ url_for('about') }}">About</a>
		<a href="{{ url_for('login') }}">Login</a>
		<a href="{{ url_for('register') }}">Register</a>
		<a href="{{ url_for('post') }}">Post</a>
		<a href="{{ url_for('logout') }}">Logout</a>

<div class='form'>
        <form method='POST' action=''>
            {{ form.title.label }}
            {{ form.title }}
	    {% if form.first_name.errors %}
		{% for error in form.title.errors %}
			<span>{{ error }}</span>
		{% endfor %}
		{% endif %}
            <br>
            {{ form.content.label }}
            {{ form.content }}
	    {% if form.first_name.errors %}
		{% for error in form.content.errors %}
			<span>{{ error }}</span>
		{% endfor %}
		{% endif %}
            <br>
            {{ form.submit }}
        </form>
</div>

{% endblock %}
